<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <variable name="logDirectory" value="${basedir}/logs"/>
  <targets>
    <target name="file" xsi:type="File" fileName="${logDirectory}/log.csv" archiveFileName="${logDirectory}/archives/log.{#}.csv" concurrentWrites="false" maxArchiveFiles="7" archiveEvery="Day" archiveNumbering="Rolling" encoding="iso-8859-2" keepFileOpen="false">
      <layout xsi:type="CsvLayout">
        <column name="DateTime" layout="${longdate}"></column>
        <column name="Level" layout="${level}"></column>
        <column name="Machine" layout="${machinename}"></column>
        <column name="Thread" layout="${threadid}"></column>
        <column name="Logger" layout="${logger}"></column>
        <column name="Message" layout="${message}"></column>
        <column name="StackTrace" layout="${stacktrace}"></column>
        <column name="Exception" layout="${exception:maxInnerExceptionLevel=50}"></column>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file"/>
  </rules>
</nlog>